[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = Cameron Harder-Hutton
	email = cameron@harderhutton.dev
[color]
	ui = auto
[core]
	pager = delta
[delta]
	dark = true
	paging = auto
	hunk-header-style = syntax
	hunk-header-decoration-style = none
	file-decoration-style = none
	file-style = yellow bold
	line-numbers = true
	line-numbers-left-format = "{nm:>4} "
	line-numbers-right-format = "{np:>4} "
	line-numbers-left-style = ""
	line-numbers-right-style = ""
	line-numbers-minus-style = red
	line-numbers-plus-style = green
	line-numbers-zero-style = ""
	keep-plus-minus-markers = true
	syntax-theme = "Visual Studio Dark+"
	side-by-side = true
	wrap-max-lines = unlimited
	wrap-left-symbol = " "
	wrap-right-symbol = " "
	wrap-right-prefix-symbol = " "
	minus-style = syntax "#450a0a"
	minus-emph-style = syntax "#ff3366"
	plus-style = syntax "#0d4429"
	plus-emph-style = syntax "#22885a"

[alias]
	l = log --graph --decorate --abbrev-commit --pretty=format:'%C(auto)%h %C(bold blue)%an%Creset %C(green)%ar%Creset %s %C(dim white)%d%Creset'
	co = checkout
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
[merge]
	conflictstyle = zdiff3
